<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="ServiceAConsumer" class="com.gateway.a.jsfBack.impl.ServiceAConsumerImpl">
        <constructor-arg name="alias" value="${jsf.jd.service.a.alias}"/>
        <constructor-arg name="timeOut" value="${jsf.jd.service.a.timeOut}"/>
    </bean>
</beans>